.container{
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}

.row{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control{
    padding: 8px;
    border: solid 1px #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.btn{
    background: rgb(37, 184, 252);
    border: rgb(37, 184, 252);
    padding: 8px 10px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.btn:hover{
    background: rgb(7, 137, 197);;
}

.short_url{
    background: #28a745;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
}